@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.homepage-title{
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;
}